
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alta de clientes</title>
</head>
<body>
    {% extends 'base.html' %}

    <!-- {No quiero incluir estos block -->
    {% block section %} {% endblock section %}
    {% block services %} {% endblock services %}
    {% block benefits %} {% endblock benefits %}
    {% block testimonials %} {% endblock testimonials %}
    {% block contact %} {% endblock contact %}
    {% block footer %} {% endblock footer %}
    <!-- {No quiero incluir estos block -->

   <form method="post">
    
        {% csrf_token %} 
        {{ form.as_p }}
        <input type="submit" value="Guardar">
    </form> 

    
</body>
</html>
